
<style>
    .dropdown-toggle::after {
        content: none;
    }

    .sb-topnav .navbar-brand {
        width: 200px;
    }
</style>

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <a class="navbar-brand" href="/home"><strong>PharmaPrint</strong></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fas fa-clinic-medical"></i>
                    Home
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="/schedule?day=today" id="printerDropdown">
                    <i class="fas fa-print fa-1x"></i>
                    Printer Schedule
                </a>
            </li>
        </ul>
    </div>


    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item">
            <a class="nav-link" href="/login">
                <i class="fas fa-power-off"></i>
                Logout
            </a>
        </li>
    </ul>

</nav>

