@model Web.Models.ViewModels.NavbarPartialModel
@using Web.EntityData

<script type="text/javascript">
    function sortList(ul) {
    var ul = document.getElementById(ul);

     Array.from(ul.getElementsByTagName("a"))
    .sort((a, b) => a.textContent.localeCompare(b.textContent))
    .forEach(li => ul.appendChild(li));
}
</script>

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>Patients
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav" id="patientDropdown">
                        @for (int i = 0; i < Model.Patients.Count; i++)
                        {
                            <a class="nav-link" href="/patient?patientId=@Model.Patients[i].PatientId">
                                @Model.Patients[i].FirstName @Model.Patients[i].LastName
                            </a>
                        }
                    </nav>
                    <script type="text/javascript">
                      sortList("patientDropdown");
                    </script>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div><strong>@Model.NurseFirstName @Model.NurseLastName</strong>
        </div>
    </nav>
</div>