@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/dist/css/bootstrap.css" />
    <link href="~/lib/dist/js/bootstrap.js" />
</head>
<body class="sb-nav-fixed">
    @RenderBody()
</body>
</html>