<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

    <a class="navbar-brand" href="index">PharmaPrint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="patientsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-1x text-gray-300"></i>
                    Patients
                </a>
                <div class="dropdown-menu" aria-labelledby="patientsDropdown">
                    <a class="dropdown-item">Dropdown Header</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/link">
                            Link
                        </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/printer" id="printerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-calendar-alt fa-1x text-gray-300"></i>
                    Printer
                </a>
                <div class="dropdown-menu" aria-labelledby="printerDropdown">
                    <a class="dropdown-item" href="/link">
                        Daily
                    </a>
                    <a class="dropdown-item" href="/link">
                        Weekly
                    </a>
                </div>
            </li>
        </ul>

    </div>
</nav>