@using Web.Models.ViewModels
@model PatientInformationPageModel
@{
    ViewData["Title"] = "PatientInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar sticky-top navbar-light bg-primary">
     <img src="~/node_modules//bootstrap-icons/icons/arrow-left.svg" alt="" width="32" height="32" title="Bootstrap">
     <img src="~/node_modules//bootstrap-icons/icons/house.svg" alt="" width="32" height="32" title="Bootstrap">
</nav>

<a>
    @Model.FirstName
</a>
<a>
    @Model.LastName
</a>
